<h1>Koshinkai agenda</h1>
<div id="calendar"></div>

<div>
  <strong>Activiteiten</strong><br/>
<% @events.each do |event| %>
<%= link_to event.title, event %> <%= link_to 'verwijderen', event, method: :delete %> <%= link_to event.title, event_with_title_path(event, :title => event.title) %><br />
<% end %>
</div>
<br /><br />
<%= link_to 'Een nieuwe activiteit aanmaken', new_event_path %><br />



