$menu-tab-color: #c79b6a;
@import "compass";
@import "frontend/sass/variables";

header{
	background-image: url('http://lorempixel.com/960/350/sports');
	background-size: 100%;
	background-position: center center;
	height: 350px;
	display: block;
	position: relative;
}

$highlight: #d9c10c;
$highlight-text: #efebdf;
$black: #000;
$light: #efefef;
$white: #fff;
$gray: #868e96;

.panel{
	border: 1px solid $gray!important;
}
span.icon-news{
	background-image: url("news.png");
	background-repeat: no-repeat;
	background-size: auto;
	background-position: top left;
	height: 90px;
	width: 91px;
	display: block;
	margin: -47px auto 0 auto;
}
nav.menu {
	text-align: center;
	font-family: BebasNeueRegular, arial, sans;
	font-size: 140%;
	line-height: 1em;
	margin-bottom: 60px;
	margin-top: 5px;
	#search{
		border-radius: 15px;
		width: 150px;
		font-size: 0.7em;
		padding: 2px 5px;
		margin-bottom: 3px;
		margin-top: 5px;
		float: right;
	}
	ul{
		background-color: $white;
		border: 1px solid $gray;
		border-radius: 15px;
		display: block;
		text-align:left;
		padding-top:5px;
		width: 80%;
		float: left;
	}
	/* Main menu items */
	li {
		display: inline-block;
		position: relative;
		border-radius: none;
		&:first-of-type{
			margin: 0 0 0 10px;
		}
		&.current-page-item{
			background-color: rgba(230,168, 42, 1);
			a{
				color: $white;
			}
		}
		&:hover{
			border-radius: 0;
			background-color: rgba(230,168, 42, .5);
		}
		/* Space out the links */
		a {
			padding: .7em;
			display: block;
			font-size: 0.8em;
		}

    	/* Hide sub menus & sub-sub menus
     	* Position *underneath* originating li (see ul ul below) */
		ul, ul ul {
			display: none;
			position: absolute;
			z-index: 999;
			top: 100%;
			left: 0;
			width: 12em;
			background-color: adjust-lightness($menu-tab-color, -10);
			@include box-shadow (-5px 5px 10px rgba(0,0,0,.5));
			background-color: $menu-tab-color;
			background-image: url('./martinb.jpg');
			background-repeat: no-repeat;
			background-size: 100%;
		}

    	/* Position sub-subs to right of parent li */
		ul ul {
			left:100%;
			top: 0;
			background-color: adjust-lightness($menu-tab-color, -15);
		}

	    /* Make sub & sub-sub li's fill parent ul
     	* Add feint border to bottom to separate items */
		li {
			display: block;
			border-bottom: 1px solid adjust-lightness($menu-tab-color, -8);
		}

	}
		> #add_new_link{
			border: 1px solid black!important;
		}
	/* Highlight li on hover */
	li:hover {
		border-top-left-radius: 5px;
		border-top-right-radius: 5px;
		/* Change anchor colour to highlighted text */
		> a {
			color: $highlight-text;
			background: none;
		}

		/* Display subs and sub-subs on parent hover */
		> ul {
			display: block;
		}

  	}

	/* Don't display menus further than 3 deep in ul tree */
	ul ul ul li:hover ul {
		display: none;
	}

	/* Make sure no padding & margins round <ul>s.
	 * Very likely to have been set in CSS for rest of site */
	ul {
		padding: 0;
		margin: 0;
	}

}
/*
 * Shortcodes
*/
span.sarcasm{
	-webkit-transform: skew(20deg);
	-moz-transform: skew(20deg);
	-ms-transform: skew(20deg);
	-o-transform: skew(20deg);
	transform: skew(20deg);
	display: inline-block;
}
p.quotation{
	color: rgba(#000, 0.8);
	font-style: italic;
}
p.citation{
	font-size: 0.8em;
	font-weight: bold;
}
img.contentimg{
	max-width: 500px;
	height: auto;
}
.video {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
	height: 0;
	iframe {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}
}
/*
* Awesomesauce!
*/

.custom-alert{
	position: absolute;
	top: 30px;
	right: 0;
	left: 0;
}

section#profile{
	position: absolute;
	bottom: 10%;
	right: 10%;
	background-color: rgba(#fff, 0.8);
	padding: 0;
	.panel-heading{
		width: 100%;
	}
	ul.profile_links{
		list-style-type: none;
		margin: 10px 0;
		li{
			float: left;
			margin-bottom: 10px;
			margin-right: 10px;
			&:last-of-type{
				margin-bottom: 0;
				margin-right: 0;
			}
			&.avatar{
				padding: 10px 0;
				img{
					width: 100px;
					height: auto;
					panel: 10px;
				}
			}
		}
	}

}
				img.avatar{
					width: 100px;
					height: auto;
					panel: 10px;
				}
	.right-inner-addon {
    position: relative;
	}
	.right-inner-addon input {
	    padding-right: 30px;    
	}
	.right-inner-addon i {
	    position: absolute;
	    right: 0px;
	    padding: 6px 12px;
	    pointer-events: none;
	}
#maps{
	height: 400px;
	width: 100%;
	display: block;
	margin: 0 auto;
	position: relative;
	border-top: 50px solid orange;
	img{
		z-index: -1!important;
		position:absolute;
		width: 100%;
		height: 400px;
	}
	.arrow-down {
		width: 150px; 
		height: 0; 
		border-left: 200px solid transparent;
		border-right: 200px solid transparent;
		border-top: 100px solid orange;
		z-index: 10;
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		margin: 0 auto;
	}
}
footer{
	background-color: $menu-tab-color;
	display: block;
	height: 300px;
	width: 100%;
}

